/* ESTRUCTURA */


* {
    box-sizing: border-box;
    
 }
 
 
 body{
   
   box-sizing: border-box;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgba(245, 245, 220);
   
    
 }
 
 .background-texture {
   position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: -1; /* Coloca detrás de todos los elementos */
   pointer-events: none; /* Para que no bloquee clics */
   overflow: hidden;

 }

 .background-texture img {
   margin-top: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit:cover; /* Para que no se deforme */
   opacity: 0.25;
   
    /* Ajustá según la sutileza que querés */
 }
 
 nav, main, form, footer{
  
 
    padding: 20px;
  
 }
 

 
 
 header{
 
   display: flex; 
   flex-direction: row;
   justify-content: center;
   width: 100%;
   height: 12vh;
   
   
 }

 .search-bar{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center; /*vertical*/
   margin-top: 30px;
   width: 50vw;
   height: 7vh;
   border-radius: 40px;
   background-color: white;
   border: solid 2px black;
   box-shadow: 7px 7px 1px rgb(18, 18, 18);
   padding: 25px;
   gap: 10px;
   

 }
 
 .search-icon{
   flex-grow: 0;
   flex-shrink: 0;
   width: 40px;
   height: 40px;
   margin-bottom: 10px;
  
 }


 .about-me {
   
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 1px;
   text-align: center;
   font-weight: 600;
 
 }
 
 
 .hello{
 
 
    flex-grow: 1;
   
 }
 
 
 
 
 .grid{
    min-height: 100vh;
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-areas:
    "nav"
    "main"
    "form";
    grid-template-columns: 1fr;
    padding: 25px;
    gap: 60px;
    margin: auto;
    margin-top: 10px;
    align-content: center;

    
   
   
 }
 
 
 
 
 nav{
 
 
    min-height: 50vh;
    max-width: 85vw;
    grid-area: nav;
    min-height: 50vh;
    border: solid 4px rgb(18, 18, 18);
    background-color:rgba(245, 245, 220);
    box-shadow: 7px 7px 1px rgb(18, 18, 18);
    background-color: #ffca48;
 
 
   
 }
 
 
 main{
 
 
    min-height: 50vh;
    max-width: 85vw;
    grid-area: main;
    min-height: 100vh;
    border: solid 4px rgb(18, 18, 18);
    background-color: #00AFC7;
    box-shadow: 7px 7px 1px rgb(18, 18, 18);
    margin-top: 130px;
    
 
 
 }
 
 
 form{

    grid: form;
    min-height: 50vh;
    max-width: 85vw;
    background-color: rgb(248, 244, 244);
    box-shadow: 8px 8px 1px rgb(18, 18, 18);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    margin-top: 60px;
    

    
 }
 
 
 footer{
    height: 8vh;
    width: 80vw;
    background-color: #99B7F5;
    border-radius: 100px;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 3px 3px 1px rgb(18, 18, 18);
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
   flex-direction: row;
    }
 
 
 /* NAV */

 .navigation__profile{
 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
 
 }
 
 
 .navigation__profile a {
    font-weight: 100;
    color: black;
    padding: 10px;
 
 
 }
 
 
 .main__content{
 
 
    position: relative;
    align-content: center;
    
 
 
 }

 .myprojects{
   width: 55vw;
   height: 7vh;
   border-radius: 40px;
   background-color: whitesmoke;
   border: solid 1px black;
   box-shadow: 4px 4px 1px rgb(23, 23, 23);
   position: absolute;
   left: 23vw;
   bottom: 182vh;
   z-index: 70;
   display: flex;
   flex-direction: column;
   justify-content: center; /*horizontal*/
   align-items: center; /*vertical*/

  
 }

 .myprojects-text{
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 30px;
   padding: 10px;
   text-align: center;
 }

 
 
 
 h1{
 
    font-size: 50px;
    margin-bottom: 0;
 }
 

 .links{

   margin: auto;
   margin-top: 25px;
   margin-bottom: 10px;
   
 }
 
 .links a{
 
 
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00AFC7;
    box-shadow: 2px 2px 1px rgb(23, 23, 23);
    

   
   
 }
 
 
 .presentation{
 
 
    font-weight: 100;
    font-size: 21px;
 
 
 }
 
 
 .bar-1{
   
    width: 100%;
    max-height: 40px;
    height: 40px;
    border-bottom: 3px solid rgb(22, 22, 22);
    padding: 16px;
    background-color: #ff8048;
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
 }

 .bar-2{
   
   width: 100%;
   max-height: 40px;
   height: 40px;
   border-bottom: 3px solid rgb(64, 62, 62);
   padding: 16px;
   background-color:#f6705e;
   position: absolute;
   top:0;
   left:0;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}
 
 
 
 .setting{

   width: 40px;
   padding: 0;
   position: absolute;
   margin: auto;

 
 }
 
 /*  MAIN CONTENT*/
 
 
 
 
 .projects{
 
 
    display:flex;
    flex-direction: column;
    gap: 10px;
    /*border: solid 0.3px rgb(255, 242, 242);*/
    height: 90vh;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
   
 }
 
 
 .project__a{
 
 
    width: 80%;
    height: 25%;
    border: solid 3px rgb(40, 38, 38);
    border-radius: 20px;
    background-color: rgba(245, 245, 220);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    box-shadow: 4px 4px 1px rgb(23, 23, 23);
   
 }
 
 
 .arrow{

   width: 25px;
   height: 25px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: flex-end;
   margin-right: 25px;
   margin-top: 12px;
 }
 
 img{
 
 
    width: 27%;
    transition: 1s;
    z-index: 11;
    margin-top: 15px;
         
 }
 

 
 
 .project__a p{
 
 
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 5px;
    transition: 2s;
  
 }
 
 
 .project__a p:hover{
 
 
    font-size: 25px;
   
 }
 
 
 .contact-me{
   width: 40vw;
   height: 9vh;
   border-radius: 40px;
   border: solid 0.5px black;
   box-shadow: 2px 2px 1px rgb(23, 23, 23);
   position: absolute;
   bottom: 565px;
   right: 70px;
   z-index: 50;
   display: flex;
   justify-content: center; /*horizontal*/
   align-items: center; /*vertical*/
   background-color:rgba(245, 245, 220);
   background-color: #ff8048;
  
 }

 .contact-text{
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 22px;
   padding: 20px;
   text-align: center;
 }



 
 .form_group{
 
 
    display: flex;
    flex-direction:column;
 }
 
 
 .label{
 
 
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
   
 }
 
 
 input{
   
    padding: 10px;
    width: 60vw;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 0.5px solid #f6705e;;
 }
 
 
 input::placeholder{
 
 
    color: rgb(92, 90, 90);
    font-weight: 100;
    font-size: 15px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
 }
 
 
 
 
 textarea{
    margin-top: 10px;
    border-radius: 20px;
    border: 0.5px solid #f6705e;
    padding: 15px;
 }
 
 
 textarea::placeholder{
 
    color: grey;
    font-weight: 100;
    font-size: 15px;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
 }
 .button {
 
 
   background-color: #ffca48;
    border: 0.5px solid black;
    box-shadow: 2px 2px 1px rgb(23, 23, 23);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    letter-spacing: 2px;
 }
 


 .text-footer{

   display: flex;
   flex-direction: column;
   font-weight: 600;
   font-size: 13px;
   margin: 0;
   padding: 0;
   gap: 0;
   justify-content: center;
   align-items: start;

 }

 .copyright{

   padding-bottom: 5px;
   margin: 0;
   font-size: 16px;
 }

 .terms{

   font-size: 14px;
   padding: 0;
   margin: 0;
   font-weight: 100;

 }